* {
    margin: 0;
    padding: 0;
    position:relative;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;   
    font-family: Poppins;
    text-decoration: none;
}


main {
    position:fixed;
    width: 100%;
    height: 100vh;
    background-color: rgb(45, 49, 51);
}

.mainNavbar {
    z-index: 2;
    height: 48px;
    width: 100%;
    display:flex;
    justify-content: space-between;
    align-items: center;
    margin: 0%;
    padding-top: 2px;
    padding-bottom: 2px;
    background-color: rgb(74, 57, 102);
}

.navbarBrand {
    color: rgba(255, 203, 177, 0.67);
    margin-left: 30px;
}

.navbarBrand:hover {
    color: rgb(255, 203, 177);
}

.navbarContent {
    float: right;
    margin-right: 30px;
}

.navbarButton {
    color: rgba(255, 203, 177, 0.67);
    margin-right: 10px;
    margin-left: 10px;
    font-size: 1em;
    font-weight: 400;
    padding-bottom: 11px;
}

.navbarButton:hover {
    color: rgb(255, 203, 177);
    border-bottom: rgb(255, 203, 177) 3px solid;
}

.Active {
    font-weight: 600;
    color: rgb(255, 203, 177);
    border-bottom: rgba(255, 203, 177, 0.67) 3px solid;
}

.active {
    font-weight: 600;
    color: rgb(255, 203, 177);
}

.container {
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    justify-items: center;
}

.container h1 {
    display: flex;
    margin: auto;
    margin-top: 100px;
    margin-bottom: 30px;
    color: rgb(255, 203, 177);
}

.content {
    justify-content: center;
    justify-items: center;
    display: flex;
    flex-direction: row;
    width: 50em; 
    height: 18em;
    margin: auto;
    font-size:medium;
    font-weight: bold;
    border-radius: 10em;
    background-color: rgba(76, 58, 107, 0.82);
    border: 2.5px solid ;
    color: rgb(255, 203, 177); 
}

.content a {
    margin: auto;
}

.content a img {
    width: 12em;
    height: 12em;
    border-radius: 100%;
    border: 2.5px solid rgb(255, 203, 177);
    justify-content: center; 
    margin: auto;
}

.content a img:hover {
    box-shadow: rgba(255, 255, 255, 0.652) 0px 1px 60px 0px;
}

.fotoPahlawan img {
    width: 12em;
    height: 12em;
    border-radius: 100%;
    border: 2.5px solid rgb(255, 203, 177);
    justify-content: center; 
    margin: auto;
    margin-left: 50px;
}

.content p {
    font-family: Lexend, sans-serif; 
    font-style: normal; 
    font-weight: 100; 
    font-size: medium; 
    justify-content: center; 
    justify-items: center; 
    margin: auto; 
}

.content ul {
    padding-top: 10%;
}

@media screen and (max-width: 860px){
    .content {
        width: 288px;
        height: 800px;
        flex-direction: column;
    }
    .content.fotoPahlawan {
        height: 600px;
    }
    .container h1 {
        margin-top: 30px;
    }
    .fotoPahlawan img {
        margin-top: 50px;
        margin-bottom: 50px;
    }
    .content ul {
        margin-top: 20px;
        margin-bottom: 100px;
        margin-left: 25px;
        margin-right: 25px;
    }
}